* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html,
body {
  height: 100%;
}

#wrap {
  width: 100%;
  height: 110vh;
  /* border: 1px solid red; */
  margin: 0 auto;
  position: relative;
}

header,
section,
footer {
  width: 100%;
  overflow: hidden;
}

.on {
  opacity: 1;
}

.center {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

/* header */
#wrap header {
  width: 100%;
  /* border: 1px solid red; */
  /* position: relative; */
}

#wrap header .center {
  width: 90%;
  height: 7vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
  line-height: 7vh;
}

.toggle_btn {
  width: 2vw;
  height: 5vh;
  position: absolute;
  cursor: pointer;
}

.toggle_btn .stick {
  display: block;
  width: 1.8vw;
  height: 0.4vh;
  background-color: black;
  position: absolute;
  z-index: 100;
}

.toggle_btn .t_stick {
  top: 1.5vh;
}

.toggle_btn .m_stick {
  top: 2.4vh;
}

.toggle_btn .b_stick {
  top: 3.4vh;
}

#wrap .center .logo {
  position: relative;
  margin: 0 auto;
  width: 13vw;
  height: 5vh;
  top: 1vh;
}

#wrap .center .icon {
  /* border: 1px solid red; */
  width: 9vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 1.5vh;
}

#wrap .center .icon img {
  width: 2vw;
}

/*header nav*/
#wrap header aside {
  position: absolute;
  width: 15vw;
  height: 101.3vh;
  /* border: 1px solid; */
  top: 0;
  z-index: 80;
}

#wrap header aside .gray_box1 {
  width: 15vw;
  height: 101.3vh;
  /* border: 1px solid red; */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: -15vw;
}

#wrap header aside .gray_box1 .main_title {
  color: rgb(142, 139, 139);
  height: 70vh;
  width: 12vw;
  /* border: 1px solid; */
  position: relative;
  top: 13vh;
  margin: 0 auto;
}

#wrap header aside .gray_box1 .main_title hr {
  position: absolute;
  border: 2px solid white;
  /* width: 14vw; */
  right: -1.5vw;
  /* transition: all 0.5s ease-in; */
}

#wrap header aside .gray_box1 .main_title > li {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  line-height: 8vh;
  /* border-bottom: 1px solid white; */
}

#wrap header aside .gray_box1 .main_title > li > h2 {
  font-size: 2.2vh;
  font-weight: 400;
}

#wrap header aside .gray_box1 .main_title > li > span {
  font-size: 1.5vh;
}

#wrap header aside .gray_box1 .main_title > li:hover h2,
#wrap header aside .gray_box1 .main_title > li:hover span {
  color: white;
  cursor: pointer;
}

#wrap header aside .gray_box1 .main_title li .gray_box2 {
  width: 15vw;
  height: 101.3vh;
  /* border: 1px solid red; */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 13.5vw;
  top: -13vh;
  opacity: 0;
}

#wrap header aside .gray_box2 ol {
  color: rgb(142, 139, 139);

  height: 70vh;
  /* border: 1px solid; */
  position: relative;
  top: 13vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1.9vh;
  font-weight: 400;
}

#wrap header aside .gray_box1 .main_title > li > .gray_box2 ol li:hover {
  color: white;
  cursor: pointer;
  font-weight: bold;
}
/* main */
#wrap section .main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: none;
  /* border: 1px solid blueviolet; */
}

/* best */
#wrap .best {
  width: 100%;
  height: 110vh;
  background-color: black;
  position: relative;
  top: -1vh;
}

#wrap .best .center .title {
  width: 15vw;
  height: 10vh;
  position: relative;
  top: 10vh;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
}

#wrap .best .center .title h2 {
  color: white;
  font-size: 2vw;
}

#wrap .best .center .title p {
  color: gray;
  font-size: 1.5vh;
}

#wrap .best .center .best_controller {
  width: 100%;
  height: 65vh;
  /* background-color: skyblue; */
  display: flex;
  justify-content: space-between;
}

#wrap .best .center .best_controller ul.list {
  color: gray;
  font-size: 2vw;
  width: 15vw;
  height: 35vh;
  line-height: 2;
  position: absolute;
  left: 5.5vw;
  top: 30vh;
}

#wrap .best .center .best_controller ul.best_product {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 27vh;
  right: 5.5vw;
  text-align: center;
  /* border: 1px solid red; */
  width: 70vw;
}

#wrap .best .center .best_controller ul.best_product li img {
  width: 22.5vw;
}

#wrap .best .center ul.best_product {
  text-align: center;
  color: white;
}

#wrap .best .center ul.best_product h3 {
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  font-size: 1.1vw;
}

#wrap .best .center ul.best_product p {
  font-size: 0.8vw;
}

#wrap .best .center .list li:nth-child(1) {
  color: white;
}

#wrap .best .center .list li:hover {
  color: white;
  cursor: pointer;
}

/* brand */

#wrap .brand {
  width: 100%;
  height: 110vh;
  /* border: 1px solid red; */
  position: relative;
}

#wrap .brand .center {
  width: 90%;
}

#wrap .brand .center .title {
  width: 30vw;
  height: 10vh;
  position: relative;
  top: 15vh;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
  line-height: 1.2;
}

#wrap .brand .title h2 {
  font-size: 2vw;
}

#wrap .brand .title p {
  color: gray;
  font-size: 1.5vh;
}

#wrap .brand .brand_controller {
  width: 100%;
  height: 27vw;
  margin: 0 auto;
  position: relative;
  top: 25vh;
  /* background-color: orange; */
}

#wrap .brand .brand_controller img {
  position: relative;
  width: 10vw;
  /* border: 1px solid; */
  transition: all 0.5s ease-in;
  cursor: pointer;
}

#wrap .brand .brand_controller .brand_menu li:hover img {
  width: 15vw;
  /* border: 1px solid; */
}

#wrap .brand .brand_controller .brand_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5vw 17vh;
}

/* banner */
#wrap .banner {
  width: 100%;
  height: 10vh;
  background-color: black;
  overflow: hidden;
}

#wrap .banner .banner_content {
  width: 100%;
  height: 6vh;
  margin: 0 auto;
  color: white;
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  top: 2vh;
}

#wrap .banner .banner_content .txt {
  width: 90%;
  /* border: 1px solid red; */
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 1.1vw;
  line-height: 6vh;
}

#wrap .banner .banner_content .txt li {
  display: flex;
}

#wrap .banner .banner_content .txt li p {
  /* border: 1px solid red; */
  padding-left: 2vw;
  box-sizing: border-box;
}

/* product */

#wrap .product {
  width: 100%;
  height: 110vh;
  display: flex;
  position: relative;
}

#wrap .product .main {
  position: relative;
  width: 50vw;
  height: 110vh;
}

#wrap .product h2 {
  position: absolute;
  color: white;
  font-size: 3vw;
  top: 50vh;
  margin-left: 19vw;
  z-index: 2;
}

#wrap .product .sale .sale_box .list_box {
  width: 60vw;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 10;
  left: -60vw;
  transition: all 0.5s ease-in;
}

#wrap .product .sale .sale_box .list_box ul {
  /* display: none; */
  position: absolute;
  color: white;
  /* border: 1px solid white; */

  width: 90%;
  height: 80%;
  left: 0;
  right: 0;
  top: 19vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1vw 11vh;

  /* padding-top: 2vh; */
  box-sizing: border-box;
}

#wrap .product .sale .sale_box .list_box ul li {
  /* border: 1px solid red; */
  width: 26%;
  cursor: pointer;
}

#wrap .product .sale .sale_box .list_box h2 {
  top: 9vh;
  left: -16vw;
  font-size: 2.8vw;
}

#wrap .product .sale .sale_box .list_box ul li h3 {
  font-size: 1.2vw;
}

#wrap .product .sale .sale_box .list_box ul li p {
  font-size: 1vw;
}

#wrap .product .sale .sale_box .list_box ul li > .line {
  font-size: 0.8vw;
  margin-right: 0.5vw;
  text-decoration: line-through;
}

#wrap .product .sale .sale_box .list_box ul li span {
  font-size: 1vw;
}

#wrap .product .sale .sale_box ul li img {
  text-align: center;
  width: 14vw;
  height: 31vh;
}

#wrap .product .sale .sale_box ul li img.sale6 {
  text-align: center;
  height: 31vh;
}

#wrap .product .sale:hover .sale_box .list_box {
  left: 0;
}

#wrap .product .sale:hover .sale_box > h2 {
  display: none;
}

#wrap .product .season .season_box .list_box {
  width: 60vw;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 10;
  right: -60vw;

  transition: all 0.5s ease-in;
}

#wrap .product .season .season_box .list_box ul {
  /* display: none; */
  position: absolute;
  color: white;
  /* border: 1px solid white; */

  width: 90%;
  height: 80%;
  left: 0;
  right: 0;
  top: 19vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1vw 11vh;

  /* padding-top: 2vh; */
  box-sizing: border-box;
}

#wrap .product .season .season_box .list_box ul li {
  /* border: 1px solid red; */
  width: 26%;
  cursor: pointer;
}

#wrap .product .season .season_box .list_box h2 {
  top: 9vh;
  left: -16vw;
  font-size: 2.8vw;
}

#wrap .product .season .season_box .list_box ul li h3 {
  font-size: 1.2vw;
}

#wrap .product .season .season_box .list_box ul li span {
  font-size: 1vw;
}

#wrap .product .season .season_box ul li img {
  text-align: center;
  width: 14vw;
  height: 31vh;
}

#wrap .product .season:hover .season_box .list_box {
  right: 0;
}

#wrap .product .season:hover .season_box > h2 {
  display: none;
}

/* magazine */

#wrap .magazine {
  width: 100%;
  height: 110vh;
  position: relative;
}

#wrap .center {
  width: 100%;
  height: 110vh;
  /* margin: 50px auto 0; */
}

#wrap .magazine h2 {
  font-size: 2vw;
  position: absolute;
  top: 13vh;
  left: 5vw;
  z-index: 10;
}

/* .magazine .center .bx-wrapper,
.magazine .center .bx-viewport {
  width: 90%;
  position: relative;
  padding: 15vh 0;
  margin: 0 auto;
} */

.magazine .center .bx-wrapper {
  width: 90%;
  /* border: 1px solid; */
  position: relative;
  height: 65vh;
  top: 30vh;
  margin: 0 auto;
}

.magazine .center .bx-viewport {
  position: absolute;
  width: 90%;
  height: 100%;
  padding: 6.5vh 0;
  display: inline;

  /* border: 1px solid red; */
}
/* .magazine .center .bx-wrapper .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 76%;
  border: 1px solid;
  display: inline;
} */
.magazine .center .magazine_slider {
  height: 50vh;
}

.magazine .center .magazine_slider li {
  cursor: pointer;
}

.magazine .center .magazine_slider img {
  width: 17.5vw;
}

.magazine .center ul.magazine_slider li:nth-child(2n) {
  margin-top: 70px;
}

/* footer */

#wrap footer {
  width: 100%;
  height: 38vh;
  background-color: black;
  color: white;
  position: relative;
}

#wrap footer .center {
  width: 90%;
  position: relative;
  top: 5vh;
}

#wrap footer .f_list {
  font-size: 0.9vw;
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  justify-content: space-around;
  text-align: center;
  position: relative;
  cursor: pointer;
  /* top: 6vh; */
}

#wrap footer .f_list li {
  width: 15%;
  border-right: 0.1vh solid white;
}

#wrap footer .center .f_list li:last-child {
  border-right: none;
}

#wrap footer .center .call {
  margin-top: 5vh;
  width: 12vw;
  height: 20vh;
  position: relative;
  left: 0.1vw;
  line-height: 1.8;
}

#wrap footer .center .call .number {
  margin-top: 5vh;
  display: flex;
  font-size: 0.8vw;
}

#wrap footer .center .call .number p:nth-child(2) {
  margin-left: 2vw;
  color: gray;
}

#wrap footer .center .call .time {
  font-size: 0.6vw;
  color: gray;
}

#wrap footer .center .call .btn {
  width: 5vw;
  height: 3vh;
  text-align: center;
  line-height: 3vh;
  border-radius: 1vh;
  font-size: 0.6vw;
  background-color: gray;
  margin-top: 1.5vh;
  cursor: pointer;
}

#wrap footer .center .store {
  position: absolute;
  top: 8vh;
  left: 25vw;
  font-size: 0.8vw;
}

#wrap footer .center .store ul {
  margin-top: 1.2vh;
  font-size: 0.7vw;
  color: gray;
}

#wrap footer .center .store ul li {
  line-height: 1.6;
}

#wrap footer .center > p {
  font-size: 0.8vw;
  color: gray;
  position: absolute;
  right: 0;
}
